{% extends 'base.html.twig' %}

{% block title %}Playlist{% endblock %}

{% block body %}
    <br>
    <h1 class="text-2xl font-semibold text-center text-gray-800 mb-6">Playlist</h1>

    <table class="table min-w-full bg-white border border-gray-300 rounded-lg">
        <tbody>
            <tr class="border-t border-gray-200">
                <th class="px-6 py-3 text-sm text-gray-600">Id</th>
                <td class="px-6 py-3 text-sm text-gray-800">{{ playlist.id }}</td>
            </tr>
            <tr class="border-t border-gray-200">
                <th class="px-6 py-3 text-sm text-gray-600">Title</th>
                <td class="px-6 py-3 text-sm text-gray-800">{{ playlist.title }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="inline-block bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300" href="{{ path('app_playlist_index') }}">back to list</a>
    <br>
    <a href="{{ path('app_playlist_edit', {'id': playlist.id}) }}">edit</a>

    {{ include('playlist/_delete_form.html.twig') }}
{% endblock %}
